{% load i18n %}
<div class='inline_dropdown'>
	{% autoescape off %}
	{{title}}
	<div class='problem_progress'>({{problem_progress}})</div>
	<div class='question_prompt'>{{prompt}}</div>
	<div class='feedback' style='display:none'>{{feedback}}</div>
	<div class='hint' style='display:none'>{{hint}}</div>
	<div class='button_holder'>
		<div style='display:inline'>
			<input 
			class='check_button' 
			type='button'
			value='Check'></input>
		</div>
		<div class='hint_button_holder' style='display:none'>
			<input 
			class='hint_button' 
			type='button' 
			value='Hint'></input>
		</div>
		<div style='display:inline' class='answer'>
			{% if answer_button == 0 %}
			<input class="answer_button" type="button" value="Show answers" style="display: none;"></input>
			{% else %}
			<input class="answer_button" type="button" value="Show answers" style="display: inline;"></input>
			{% endif %}
		</div>
		<div style='display:inline' class='reset'>
			{% if reset_button == 0 %}
			<input  class="reset_button" type="button" value="Reset" style="display: none;"></input>
			{% else %}
			<input  class="reset_button" type="button" value="Reset" style="display: inline;"></input>
			{% endif %}
		</div>
	</div>
	{% endautoescape %}
</div>
