{% load i18n %}

<div class="wrapper-comp-settings editor-with-buttons is-active" id="settings-tab">
    <ul class="list-input settings-list">
        
         <li class="field comp-setting-entry is-set">
            <div class="wrapper-comp-setting">
                <label class="label setting-label" for="inline_dropdown_edit_display_name">Display Name</label>
                <input class="input setting-input" id="inline_dropdown_edit_display_name" value="{{ display_name }}" type="text">
            </div>
            <span class="tip setting-help">This name appears in the horizontal navigation at the top of the page</span>
        </li>
        <li class="field comp-setting-entry is-set">
          <div class="wrapper-comp-setting">
              <label class="label setting-label" for="inline_dropdown_edit_title">Title</label>
              <input class="input setting-input" id="inline_dropdown_edit_title" value="{{ title }}" type="text">
          </div>
          <span class="tip setting-help">This title appears in header pane</span>
      </li>
        <li class="field comp-setting-entry is-set">
          <div class="wrapper-comp-setting">
              <label class="label setting-label" for="inline_dropdown_edit_weight">Weight</label>
              <input class="input setting-input" id="inline_dropdown_edit_weight" step="1" min="1" value="{{ weight }}" type="number">
          </div>
          <span class="tip setting-help">This assigns an integer value representing the weight of this problem</span>
        </li>
        <li class="field comp-setting-entry is-set">
          <div class="wrapper-comp-setting">
              <label class="label setting-label" for="inline_dropdown_edit_max_attempts">Max attempts</label>
              <input class="input setting-input" id="inline_dropdown_edit_max_attempts" step="1" min="1" value="{{ max_attempts }}" type="number">
          </div>
          <span class="tip setting-help">Defines the number of times a student can try to answer this problem.  If the value '
            'is not set, infinite attempts are allowed.</span>
        </li>
        <li class="field comp-setting-entry is-set">
          <div class="wrapper-comp-setting">
              <label class="label setting-label" for="inline_dropdown_edit_case_sensitive">Case Sensitive</label>
              <select class="input setting-input" id="inline_dropdown_edit_case_sensitive">
                {% for ans in case_sensitive_list %}
                {% if case_sensitive == ans.Value %}
                <option value="{{ ans.Value }}" selected>{{ ans.Display }}</option>
                {% else %}
                <option value="{{ ans.Value }}">{{ ans.Display }}</option>
                {% endif %}
                
                {% endfor %}     
              </select>
          </div>
          <span class="tip setting-help">This assigns an integer value representing Case Sensitive 1 - YES, 0- No</span>
        </li>
        <li class="field comp-setting-entry is-set">
          <div class="wrapper-comp-setting">
            <label class="label setting-label" for="inline_dropdown_edit_randomization">Randomization</label>
            <select class="input setting-input" id="inline_dropdown_edit_randomization">
              {% for ans in randomization_list %}
              {% if randomization == ans.Value %}
              <option value="{{ ans.Value }}" selected>{{ ans.Display }}</option>
              {% else %}
              <option value="{{ ans.Value }}">{{ ans.Display }}</option>
              {% endif %}
              
              {% endfor %}
            </select>
          </div>
        <span class="tip setting-help">Defines when to randomize the variables specified in the associated Python script. For problems that do not randomize values, specify "Never".</span>
      </li>
      <li class="field comp-setting-entry is-set">
        <div class="wrapper-comp-setting">
          <label class="label setting-label" for="inline_dropdown_edit_show_answer">Show Answer</label>
          <select class="input setting-input" id="inline_dropdown_edit_show_answer">
            {% for ans in show_answer_list %}
            {% if show_answer == ans.Value %}
            <option value="{{ ans.Value }}" selected>{{ ans.Display }}</option>
            {% else %}
            <option value="{{ ans.Value }}">{{ ans.Display }}</option>
            {% endif %}
            
            {% endfor %}
          </select>
        </div>
      <span class="tip setting-help">Defines when to show the answer to the problem. A default value can be set in Advanced Settings.</span>
    </li>
    <li class="field comp-setting-entry is-set">
      <div class="wrapper-comp-setting">
          <label class="label setting-label" for="inline_dropdown_edit_show_answer_number_attempts">Show Answer: Number of Attempts</label>
          <input class="input setting-input" id="inline_dropdown_edit_show_answer_number_attempts" step="1" min="1" value="{{ show_answer_number_attempts }}" type="number">
      </div>
      <span class="tip setting-help">Number of times the student must attempt to answer the question before the Show Answer button appears.</span>
    </li>

    <li class="field comp-setting-entry is-set">
      <div class="wrapper-comp-setting">
        <label class="label setting-label" for="inline_dropdown_edit_show_reset_button">Show Reset Button</label>
        <select class="input setting-input" id="inline_dropdown_edit_show_reset_button">
          {% for ans in show_reset_button_list %}
          {% if show_reset_button == ans.Value %}
          <option value="{{ ans.Value }}" selected>{{ ans.Display }}</option>
          {% else %}
          <option value="{{ ans.Value }}">{{ ans.Display }}</option>
          {% endif %}
          
          {% endfor %}     
        </select>
      </div>
    <span class="tip setting-help">Determines whether a 'Reset' button is shown so the user may reset their answer. A default value can be set in Advanced Settings.</span>
  </li>

        <li class="field comp-setting-entry is-set">
          <div class="wrapper-comp-setting">
            <label class="label setting-label" for="edit_data">Definition</label>
            <span class="tip setting-help">The XML definition for the problem</span>
            <div class='codemirror-editor-wrapper'>
              <textarea class="block-xml-editor edit-data">{{ xml_data }}</textarea>
            </div>
          </div>
      </li>
    </ul>
    
    <div class="xblock-actions">
        <ul>
            <li class="action-item">
                <a href="#" class="button action-primary action-save">Save</a>
            </li>
            <li class="action-item">
                <a href="#" class="button action-cancel">Cancel</a>
            </li>
        </ul>
    </div>
</div>


